body {
  margin: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Yomogi', cursive;
  font-size: 18px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 9px;
  width: 7%;
  border-color: #B8DFD8;
}

h1 {
  margin: auto;
  font-family: 'Sofia', cursive;
  font-size: 5rem;
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
  font-size: 2rem;
  margin-top: 0;
  font-weight: bolder;
}

h3 {
  color: #11999E;
  font-weight: 900;
  font-size: 22px;
}

p {
  font-weight: bold;
  line-height: 2;

}
.top-container {
  background-color: #CDF0EA;
  position: relative;
  padding-top: 170px;
}

.middle-container {
background-color: #E8F6EF;
}

.skill-row {
  width: 50%;
  margin: 50px auto 140px auto;
  text-align: left;
  line-height: 2;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 30px;
}

.bot-cloud {
  position: absolute;
  left: 370px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 380px;
  top: 120px;
}

.profile {
  padding: 80px;
}

.skills {
  padding-top: 10px;
  margin: 0;
}

.bebu {
  width: 25%;
  float: left;
  padding-right: 30px;
}

.bangs2 {
  width: 25%;
  float: right;
  position: relative;
  right: 150px;
}

.bangs1 {
  width: 25%;
  float: right;
  position: relative;
  left: 250px;
}

.contact-me {
  margin-bottom: 70px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  color: #FFFFFF;
  font-family: 'Yomogi', cursive;
  font-size: 17px;
  font-weight: 100;
  padding: 18px;
  text-shadow: 1px 1px 20px #000000;
  border: solid #11999E 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.btn:hover {
  border: solid #2BC4AD 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  text-decoration: none;
}

.footer-link {
  color: #11999E;
  font-weight: 500;
  line-height: 2;
  text-decoration: none;
  font-size: 15px;
  padding-right: 20px;
}

a:hover {
  color: #EAF6F6;
}

.footnote {
  color: #EAF6F6;
  font-weight: normal;
  font-size: 0.75rem;
}
